#Ignore input and output folders
input/
output/
raw/
data/output
data/raw
drafts/
temp/
analysis/output
structural/output
input
output
raw
drafts
temp
documentation
documentation/
data/documentation
maps 
maps/
literature
literature/
transfer
transfer/
slides/
slides
sumoc_shared/
*.DS_store
# ignore log files
*.log
_*.m
*.m~
*.Rout
*.Rhistory
*.out
*.RData
.RData
*.pdf
*.stswp
